
    .formlogin{
        display: flex;
        justify-content: center;
        font-size: 9;
    }

    .formlogin form{        
        width: 30%;
        height: 400px;

        background-color: grey;
        color: white;

        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #login{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }


    .formlogin form input{
        padding: 5px;
    }

    .formlogin form input[type=submit]{
        width:40%;
        background-color: white;
        border: none;

        padding: 8px;
        font-family: 'Inter', sans-serif;
    }

    form a{
        color: white;
    }